body {
    background: linear-gradient(to top, rgb(238, 216, 173), rgb(238, 216, 173, 0.4));
    font-size: 1em;
    text-align: justify;
    font-family: 'Merriweather', serif;
}

p {
    text-transform: none;
    font-family: 'Ubuntu', sans-serif;
}

.clearfix {
    clear: both;
}

#title {
    color: #1c2550;
    font-family: 'Ramabhadra', sans-serif;
}

.subtitle {
    color: #839aff;
    font-family: 'Lobster', cursive;
    ;
}

.service-image {
    box-sizing: border-box;
    float: left;
    background-size: cover;
    background: linear-gradient(to right, rgb(60, 110, 61), rgba(60, 110, 61, 0));
    height: 400px;
    width: 32%;
}

.service-image1 {
    box-sizing: border-box;
    float: left;
    background-size: cover;
    background: linear-gradient(to top, rgb(60, 110, 61), rgba(60, 110, 61, 0));
    height: 400px;
    width: 32%;
}

.service-image2 {
    box-sizing: border-box;
    float: left;
    background-size: cover;
    background: linear-gradient(215deg, rgb(60, 110, 61), rgba(60, 110, 61, 0));
    height: 400px;
    width: 32%;
}

.service-image5 {
    background: radial-gradient(circle, red 20%, blue 40%, green 55%);
    height: 500px;
    width: 50%;
}

.link {
    text-decoration: none;
}

.italics {
    font-style: oblique;
}

#about-us {
    height: 300px;
    width: 60%;
}