body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2em;
    background-color: #ebebeb;
    text-align: center;
}

h2 {
    color: #006400;
}

h3 {
    color: #483d8b;
}

.clearfix {
    clear: both;
}

.container {
    padding: 20px;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
}

.box1 {
    border: 1px solid grey;
    float: left;
    width: 33%;
    box-sizing: border-box;
    margin-left: 3px;
    padding-bottom: 10px;
}

.box2 {
    border: 1px solid grey;
    float: left;
    width: 33%;
    box-sizing: border-box;
    margin-left: 3px;
    padding-bottom: 10px;
}

.box3 {
    border: 1px solid grey;
    float: left;
    width: 33%;
    box-sizing: border-box;
    margin-left: 3px;
    padding-bottom: 10px;
}